<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Add Data</title>
  </head>
  <body>
    <form action="/" method="get">
      <input type="submit" name="" value="Home Page">
    </form>
  </body>
</html>
