<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Add Data</title>
  </head>
  <body>

    <form method="post">
      <h1>Date</h1>
      <input type="text" name="dates" placeholder="Date...feb15">


      <h1>Goals</h1>
      <br>
      <input type="text" name="goals" placeholder="Goals..." size="100">


      <h1>Included Documentation</h1>
      <select name="inc_doc_type">
      <option value="Printed">Printed</option>
      <option value="Download">Download</option>
      </select>

      <select name="people1">
        <option value="Single">Single</option>
        <option value="Pairs">Pairs</option>
        <option value="Teams">Teams</option>
      </select>
      <br>
      <input type="text" name="inc_doc" placeholder="Included Documentation..." size="100">


      <h1>Required Documentation</h1>
      <select name="req_doc_type">
        <option value="Seen">Must Be Seen</option>
        <option value="Printed">Printed</option>
        <option value="Download">Download</option>
      </select>
      <select name="people2">
        <option value="Single">Single</option>
        <option value="Pairs">Pairs</option>
        <option value="Teams">Teams</option>
      </select>
      <br>
      <input type="text" name="req_doc" placeholder="Included Documentation..." size="100">


      <h1>Changes</h1>
      <input type="text" name="changes" placeholder="Changes..." size="100">


      <h1>Events</h1>
      <select name="events_type">
        <option value="Due">Due</option>
        <option value="Lesson">Lesson</option>
        <option value="Review">Review</option>
        <option value="Misc.">Misc.</option>
      </select>
      <br>
      <input type="text" name="event_due" placeholder="event date">
      <br>
      <input type="text" name="events" placeholder="Events..." size="100">
      <br>
      <input type="submit" name="submit" value="submit">
  </form>

  </body>
</html>
