<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Add Data</title>
  </head>
  <body>
    <form action="/" method="get">
      <input type="submit" name="" value="Home Page">
    </form>
    <form method="post">
    <h1>Date</h1>
      <input type="text" name="" placeholder="Date...feb15">
    <h1>Goals</h1>
      <input type="text" name="" placeholder="Goals..." size="100">
    <h1>Included Documentation</h1>
    <select class="" name="">
      <option value="printed">Printed</option>
      <option value="download">Download</option>
    </select>
      <br>
      <input type="text" name="" placeholder="Included Documentation..." size="100">
    <h1>Required Documentation</h1>
      <select name="">
        <option value="seen">Must Be Seen</option>
        <option value="printed">Printed</option>
        <option value="download">Download</option>
      </select>
      <input type="text" name="" placeholder="Included Documentation..." size="100">
    <h1>Changes</h1>
      <input type="text" name="" placeholder="Changes...">
    <h1>Events</h1>
      <input type="text" name="" placeholder="Events...">
      <input type="submit" name="" value="Submit">
    </form>
  </body>
</html>
