<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Developer Page</title>
  </head>
  <body>
      Add Date
      <form action="/" method="get">
        <input type="submit" name="" value="Home Page">
      </form>
      <form name="dateBox" method="post">
        <input type="text" name="addDate" placeholder="EX: feb15">
        <input type="submit" name="submitDate" value="Submit">
      </form>
      <form class="" action="/dates" method="get">
        <input type="submit" name="" value="Dates">
      </form>
  </body>
</html>
