<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Get Data</title>
  </head>
  <body>
    <center>
      <form action="/" method="get">
        <input type="submit" name="" value="Home Page">
      </form>
    <form>
        <h1>Get Excel Data</h1>
        <br>
        Date
        <input type="text" name="dataInput" placeholder="EXAMPLE: feb15">
        <br>
        <input type="submit" name="" value="Submit">
    </form>
    <form action="/dates">
      <input type="submit" name="" value="Get Dates">
    </form><br>
    <input type="submit" name="" value="Goals">
    <input type="Submit" name="" value="Included Documentation"> 
    <input type="submit" name="" value="Required Documentation">
    <input type="Submit" name="" value="Changes">
    <input type="submit" name="" value="Events">

</center>


  </body>
</html>
