<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Get Data</title>
  </head>
  <body>
    <center>
      <form action="/" method="get">
        <input type="submit" name="" value="Home Page">
      </form>
    <form>
        <h1>Get Excel Data</h1>
        <br>
        Date
        <input type="text" name="dataInput" placeholder="EXAMPLE: feb15">
        <br>
        <input type="submit" name="" value="Submit">
    </form>

</center>


  </body>
</html>
