<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Goals</title>
  </head>
  <body>
    <form method="post">
      <input type="text" name="goalDate" placeholder="EX: feb15">
      <br>
      <input type="text" name="" placeholder="Input Goals...">
    </form>
  </body>
</html>
