<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Included Documentation</title>
  </head>
  <body>
    <form method="post">
      <select name="">
        <option value="single">Single</option>
        <option value="teams">Teams</option>
        <option value="pairs">Pairs</option>
      </select>
      <select class="" name="">
        <option value="printed">Printed</option>
        <option value="download">Download</option>
      </select>
      <br>
      <input type="text" name="" placeholder="Included Documentation..." size="100">
    </form>
  </body>
</html>
