<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
  </head>
  <body>
    <center>
    <form action="/get_info">
      <h1>Search For Information</h1>
      <br>
      <input type="submit" name="getData" value="Get Data">
    </form>
    <form action="/add_data">
      <input type="submit" name="addData" value="Add Data">
    </form>
    </center>
  </body>
</html>
