<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
  </head>
  <body>
    <center>
    <form action="/getinfo">
      <h1>Search For Information</h1>
      <br>
      <input type="button" name="getData" value="Get Data">
    </form>

    <form action="/postinfo">
      <input type="button" name="" value="">
    </form>
    </center>
  </body>
</html>
