<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
  </head>
  <body>
    <center>
    <form action="/getinfo">
      <h1>Search For Information</h1>
      <br>
      <input type="submit" name="getData" value="Get Data">
    </form>
    <form action="/adddata">
      <input type="submit" name="addData" value="Add Data">
    </form>
    <form action="/goals">
      <input type="submit" name="goals" value="Goals">
    </form>
    <form action="/IncludedDocumentation">
      <input type="submit" name="inc doc" value="Included Documentation">
    </form>
    <form action="/changes">
      <input type="submit" name="changes" value="Changes">
    </form>
    <form action="/requiredDocumentation">
      <input type="submit" name="req doc" value="Required Documentation">
    </form>
    <form action="/events">
      <input type="submit" name="events" value="Events">
    </form>
    </center>
  </body>
</html>
